<% provide(:title, "Congratulations Neetha") %>
			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">
							<!-- Content -->
								<div id="content" class="8u 12u(mobile)">
									<!-- Post -->
										<article class="box post">
											<header>
												<h2 id="utsav2015">Congratulations</h2>
											</header>
											<span class="image featured"><%= image_tag('2.jpg') %></span>
											<span class="image featured"><%= image_tag('6.jpg') %></span>
											<p>Congratulations to Neeta Pillai, who was crowned 2nd runner up at the Miss Bollywood Pageant USA 2015, at the 3rd annual Bollywood Pageant USA 2015 at Stafford Performing Arts Theatre, Houston TX. </p>
                    </article>
                  <!-- Post -->
								</div>

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">
									<!-- Excerpts -->
										<section>
											<ul class="divided">
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><%= link_to "Utsav-2015", utsav_path %></h3>
															</header>
														</article>
												</li>
                        
                        <li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><%= link_to "Independence Day-2015", event_path(anchor: 'independence2015') %></h3>
															</header>
														</article>
												</li>
												
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><%= link_to "Holi-2015", event_path(anchor: 'holi2015') %></h3>
															</header>
														</article>
												</li>
												
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><h3><%= link_to "Diwali-2014", event_path(anchor: 'diwali2014') %></h3></h3>
															</header>
														</article>
												</li>
												
											</ul>
										</section>
								</div>
						</div>
					</div>
				</div>