<% provide(:title, "Events") %>
			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">
							<!-- Content -->
								<div id="content" class="8u 12u(mobile)">
									<!-- Post -->
									<article class="box post">
											<header>
												<h2 id="independence2016">Independence Day-2016</h2>
											</header>
											<span class="image featured"><%= image_tag('indiaflag.jpg')%></span>
											<p>Happy 70th Independence Day. AIA is hosting a flag hoisting ceremony to celebrate this event.</p>
												<ul class="actions">
																<li><%=link_to "Learn More", independenceday1_path, {:class=>"button icon fa-file"} %></li>
												</ul>
										</article>
                  <!-- Post -->
										<article class="box post">
											<header>
												<h2 id="utsav2015">UTSAV-2015</h2>
											</header>
											<span class="image featured"><%= image_tag('utsav.jpg')%></span>
											<p>"UTSAV" meaning festival or celebration, is the annual extravaganza of Association of Indian Students here at University of Louisiana at lafayette. AIS proudly announces its first UTSAV-2015 and invite all of you to Explore, Celebrate and Relish the traditional Indian culture blended with splendid color of modernity. </p>
												<ul class="actions">
																<li><%=link_to "Learn More", utsav_path, {:class=>"button icon fa-file"} %></li>
												</ul>
										</article>
                  <!-- Post -->
                  <article class="box post">
											<header>
												<h2 id="independence2015">Independence Day-2015</h2>
											</header>
											<span class="image featured"><%= image_tag('indiaflag.jpg')%></span>
											<p>Happy 69th Independence Day. AIA is hosting a flag hoisting ceremony to celebrate this event.</p>
												<ul class="actions">
																<li><%=link_to "Learn More", independenceday_path, {:class=>"button icon fa-file"} %></li>
												</ul>
										</article>
                  <!-- Post -->
										<article class="box post">
											<header>
												<h2 id="holi2015">Holi-2015</h2>
											</header>
											<span class="image featured"><%= image_tag('holi.jpg')%></span>
											<p>Holi, also know as festival of colors signifies victory of good over evil. Holi is celebrated with colors not metamorphically but literally spraying and smearing family and friends with colored powders and water. Lafayette Annual Holi Festival is usually celebrated last Saturday of March. It is organized by Acadaina Indian Association</p>
											<ul class="actions">
																<li><%=link_to "Gallery", gallery_path, {:class=>"button icon fa-file"} %></li>
										  </ul>
										</article>
                  <!-- Post -->
										<article class="box post">
											<header>
												<h2 id="diwali2014">Diwali-2014</h2>
											</header>
											<span class="image featured"><%= image_tag('diwali.jpg')%></span>
											<p>Diwali is the festival of lights, an ancient hindu festival celebrated to commerate the triumph of light over darkness. Acadiana Indian Association hosts annual Diwali gala. </p>
											<ul class="actions">
																<li><%=link_to "Gallery", gallery_path, {:class=>"button icon fa-file"} %></li>
											</ul>
										</article>
								</div>

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">
									<!-- Excerpts -->
										<section>
											<ul class="divided">
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><a href="#utsav2015">Utsav-2015</a></h3>
															</header>
														</article>
												</li>
												
                        <li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><a href="#independence2015">Independence Day-2015</a></h3>
															</header>
														</article>
												</li>
												
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><a href="#holi2015">Holi-2015</a></h3>
															</header>
														</article>
												</li>
												
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><a href="#diwali2014">Diwali-2014</a></h3>
															</header>
														</article>
												</li>
											</ul>
										</section>
              	</div>
						</div>
					</div>
				</div>