<% provide(:title, "Independence Day") %>
<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Content -->
								<div id="content" class="8u 12u(mobile)">

									<!-- Post -->
										<article class="box post">
											<header>
												<h2 id="independence2015">Independence Day-2015</h2>
											</header>
											<span class="image featured"><%= image_tag('indiaflag.jpg') %></span>
											<p>Happy 69th Independence day to Indian community at UL. AIA is hosting a flag hoisting ceremony to celebrate this occasion and pay tribute to Dr. A.P.J. Abdul Kalam, who made us believe that dreams can become reality and there are no limits to what we can achieve if we keep our mind and heart to it. Along with the above mentioned events,  a new student welcome ceremony and annual volleyball tournament trophy presentation are also planned.</p>
											
											<p>Apart from these, there are different activities planned for the event which includes trivia and food. </p>
											<p>Location: Student Union Ball Room - Atchafalaya Ballroom A<br>
												Date: 15 August, 2015<br>
												Time: 11:00 am<br>
												Open Event</p>													
 											Image courtesy of Al Jazeera										
 										</article>					
								</div>

						<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">
									<!-- Excerpts -->
										<section>
											<ul class="divided">
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><%= link_to "Utsav-2015", utsav_path %></h3>
															</header>
														</article>
												</li>
                        
                        <li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><%= link_to "Independence Day-2015", event_path(anchor: 'independence2015') %></h3>
															</header>
														</article>
												</li>
												
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><%= link_to "Holi-2015", event_path(anchor: 'holi2015') %></h3>
															</header>
														</article>
												</li>
												
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><h3><%= link_to "Diwali-2014", event_path(anchor: 'diwali2014') %></h3></h3>
															</header>
														</article>
												</li>
												
											</ul>
										</section>
								</div>
						</div>
					</div>
				</div>