<% provide(:title, "Independence Day") %>
<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Content -->
								<div id="content" class="8u 12u(mobile)">

									<!-- Post -->
										<article class="box post">
											<header>
												<h2 id="independence2015">Independence Day-2016</h2>
											</header>
											<span class="image featured"><%= image_tag('indiaflag.jpg') %></span>
											<p>Happy 70th Independence day to Indian community at UL. AIA is hosting a flag hoisting ceremony to celebrate this occasion. Along with the above mentioned event,  a new student welcome ceremony is also planned.</p>
											
											<p>Apart from these, there are different activities planned for the event which includes trivia and food. </p>
											<p>Location: Alumini Center<br>
												Date: 21 August, 2016<br>
												Time: 11:00 am to 3:00pm<br>
												Open Event</p>													
 											Image courtesy of Al Jazeera										
 										</article>					
								</div>

						<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">
									<!-- Excerpts -->
										<section>
											<ul class="divided">
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><%= link_to "Utsav-2015", utsav_path %></h3>
															</header>
														</article>
												</li>
                        
                        <li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><%= link_to "Independence Day-2015", event_path(anchor: 'independence2015') %></h3>
															</header>
														</article>
												</li>
												
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><%= link_to "Holi-2015", event_path(anchor: 'holi2015') %></h3>
															</header>
														</article>
												</li>
												
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><h3><%= link_to "Diwali-2014", event_path(anchor: 'diwali2014') %></h3></h3>
															</header>
														</article>
												</li>
												
											</ul>
										</section>
								</div>
						</div>
					</div>
				</div>