<% provide(:title, "Utsav") %>
			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Content -->
								<div id="content" class="8u 12u(mobile)">

									<!-- Post -->
										<article class="box post">
											<header>
												<h2 id="utsav2015">UTSAV-2016</h2>
											</header>
											<span class="image featured"><%= image_tag('utsav_poster.jpg') %></span>
											<p>"UTSAV" meaning festival or celebration, is the annual extravaganza of Association of Indian Students here at University of Louisiana at lafayette. AIS proudly announces its first UTSAV-2016 and invite all of you to Explore, Celebrate and Relish the traditional Indian culture blended with splendid color of modernity. </p>
											<p>	UTSAV tries to promote an amalgamation of diverse cultures between domestic and Indian students. Keeping in line with these aims, AIS plans to celebrate UTSAV-2016, with a showcase of rich Indian history along with Indian dinner followed by Bollywood beats.</p>
                      <p>Explore Incredible India: A showcase of modern and traditional Indian culture, festivals, life-style, food-habits, attire, music, dance, geographical attractions, advances in science and technology etc. </p>
                      <p>Celebrate Indian Journey:  Traditional Indian music and dance forms have unique body of myths and legends to support the view that, art occupies an indispensable place in day-to-day life of Indians. Apart from Traditional dances, we will have musical performances, singing and dances to the beats of latest Bollywood tracks in the event.</p>
                      <p>Relish Indian Cuisine: The main course includes exotic Indian vegetarian as well as non-vegetarian dishes followed by Indian sweets for desert. </p>
                      <p>Location: Student Union Ballroom<br>
                          Date: 24 September, 2016<br>
                          Time: 6:00 pm - 8:30 pm, Dance Floor: 8:30 pm - 11:00 pm<br>
                          Tickets: Open Event, limited seating, so please register to reserve</p>
                      <!-- <p id="note" style="color:#800909;font-weight:bold;">Thanks everybody for making UTSAV 2016 a grand success.</p> -->
								</div>

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">
									<!-- Excerpts -->
										<section>
											<ul class="divided">
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><%= link_to "Utsav-2015", utsav_path %></h3>
															</header>
														</article>
												</li>
                        
                        <li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><%= link_to "Independence Day-2015", event_path(anchor: 'independence2015') %></h3>
															</header>
														</article>
												</li>
												
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><%= link_to "Holi-2015", event_path(anchor: 'holi2015') %></h3>
															</header>
														</article>
												</li>
												
												<li>
													<!-- Excerpt -->
														<article class="box excerpt">
															<header>
																<h3><h3><%= link_to "Diwali-2014", event_path(anchor: 'diwali2014') %></h3></h3>
															</header>
														</article>
												</li>
												
											</ul>
										</section>
								</div>
						</div>
					</div>
				</div>