<p>Hello <%= @registration.name %>,</p>
<p>Welcome to <b>UNIVERSITY OF LOUISIANA AT LAFAYETTE</b> on behalf of <i style="color: Red">Association of Indian Students.</i> and a heart felt congratulations on your admission.</p>
<p>Thank you for filling up the pickup form.</p>
<p>Please review your details below:</p>
<table border="0">
      <tr><b>From Location:</b> <%= @registration.fmlocation %></p></tr>
      <tr><b>Flight Number:</b> <%= @registration.flightno %></p></tr>
      <tr><b>Landing Time:</b> <%= @registration.landingtime %></p></tr>
      <tr><b>Need Pickup?</b> <%= @registration.needpickup %></p></tr>
      <tr><b>Need Accommodation?</b> <%= @registration.needaccom %></p></tr>
      <tr><b>Email ID:</b> <%= @registration.email %></tr>
</table>
<p>Have a safe trip to United States and Welcome to U.S.</p>
<p><b>** If you need to update any information, please login using your pin and update the same.</b></p>
<br/><br/>
<p style="text-align: Left">Regards,</p>
<p style="text-align: Left"><b>AIS Team</b></p>
