<p>Hello <%= @registration.name %>,</p>
<p>Thank you for filling up the form.</p>
<p>First of all heartly Welcome to <b>UNIVERSITY OF LOUISIANA AT LAFAYETTE</b> on behalf of <i style="color: Red">Association of Indian Students.</i></p>
<p>Congratulations on your admission to UL @ Lafayette.</p>
<p>Just for review purpose these are the details you provided:</p>
<table border="0">
      <tr><b>From Location:</b> <%= @registration.fmlocation %></p></tr>
      <tr><b>Flight Number:</b> <%= @registration.flightno %></p></tr>
      <tr><b>Landing Time:</b> <%= @registration.landingtime %></p></tr>
      <tr><b>Need Pickup?</b> <%= @registration.needpickup %></p></tr>
      <tr><b>Need Accommodation?</b> <%= @registration.needaccom %></p></tr>
      <tr><b>Email ID:</b> <%= @registration.email %></tr>
</table>
<p>Have a safe trip to United States and Welcome to U.S.</p>

<br/><br/>
<p style="text-align: Left">AIS Team</p>
