<% provide(:title, 'Update Participant details') %>
<h1>Utsav Participants Registration Request - UPDATE</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_for(@utsav_registration) do |f| %>
      <%= render 'shared/error_messages2' %>

      <%= f.label :name, "Full Name" %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %> 

      <%= f.label :phone, "Contact Number" %>
      <%= f.text_field :phone, class: 'form-control' %>
      
      <%= f.label :typeofpart, 'Type of Participation' %>
      <%= f.select :typeofpart, [['Volunteer','Volunteer'],['Dance','Dance'],['Singing','Singing'],['Playing Instrument','Instrument'],['Fashion Show','Fashion_Show'],['Others','Others']], class: 'form-control' %>
      
      <div id="to_hide">
      <%= f.label :otheractiv, "Other Activity Details" %>
      <%= f.text_area :otheractiv, class: 'form-control' %>
      </div>
      
      <%= f.label :group, 'Do you have a group? If YES' %>
      <%= f.check_box :group, {}, "Yes", "No" %>
      
      <div id="group_details" style="display:none;">
        <%= f.label :grpdetails, "Group Details" %>
        <%= f.text_area :grpdetails, class: 'form-control' %>
      </div>
      <br/>
      <br/>
      <%= f.submit "Submit my details", class: "btn btn-primary" %>
    <% end %>
    <br/>
  </div>
</div>
<br/>
