<% provide(:title, 'Utsav-Signup') %>
<h1>Utsav Participants Registration Request</h1>

<% if @data.utsavpartreg.to_s == 'true' %>         <!-- Remove this statement to make the form work again-->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@utsav_registration) do |f| %>
      <%= render 'shared/error_messages2' %>

      <%= f.label :name, "Full Name" %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %> 

      <%= f.label :phone, "Contact Number" %>
      <%= f.text_field :phone, class: 'form-control' %>
      
      <%= f.label :typeofpart, 'Type of Participation' %>
      <%= f.select(:typeofpart, [ ['Dance','Dance'],['Singing','Singing'],['Playing Instrument','Instrument'],['Fashion Show','Fashion_Show'],['Others','Others'] ],{}, {:multiple => true, class: "form-control", style: "height:107px"}) %>
      
      <div id="to_hide">
      <%= f.label :otheractiv, "Other Activity Details" %>
      <%= f.text_area :otheractiv, class: 'form-control' %>
      </div>
      
      <%= f.label :group, 'Do you have a group? If YES check the box' %>
      <%= f.check_box :group, {}, "Yes", "No" %>
      
      <div id="group_details" style="display:none;">
        <%= f.label :grpdetails, "Group Details" %>
        <%= f.text_area :grpdetails, class: 'form-control' %>
      </div>
    
      <br/>
      <br/>
      <%= f.submit "Submit my details", class: "btn btn-primary" %>
    <% end %>
    <br/>
  </div>
</div>
<br/>
<script>
  $(document).ready(function(){
     if($('#utsav_registration_typeofpart').val() != "Others"){
        $("#to_hide").css('display','none')
     }
     else{
        $("#to_hide").css('display','block')
     }

     $('#utsav_registration_typeofpart').change(function(){
        if($(this).val() != "Others"){
          $("#to_hide").css('display','none')
        }
        else{
          $("#to_hide").css('display','block')
        }
     })
  });

</script>
<% else %>
  <p></br> Thank you everyone for making UTSAV 2016 a grand success. Will see you back in UTSAV 2017</p>
<% end %>                     <!-- Remove this statement to make the form work again-->