
<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><head>
<wrapper class="header" style="background: #8a8a8a none repeat top left scroll;"><container><row class="collapse"><columns small="6"><%= image_tag attachments['aislogo_opti.jpg'].url %></columns><columns small="6"><p class="text-right" style="color: #fff; padding-top: 15px;">BASIC</p>
      </columns></row></container></wrapper><container><spacer size="16"><row><columns small="12"><h1>Hi, <%= @utsav_seat.name %></h1>
      <h4>A Note from the President:</h4>
      <p>Hello,</p>
      <p>Thank you for registering for Utsav 2016 which will be held on September 24, 2016.</p>
      <p>Please note that all existing AIS students are required to contribute an amount of $15 towards the event for their seats to be booked.</p>
      <p>Also, the new students who have arrived this Fall need to make your Registration, Pick Up and Accommodation fees. Please contact Vinay Israni if you have any questions regarding it.</p>
      <p>Please forward all contributions to Aditya Kaveeshwar on aditya.kaveeshwar@gmail.com.</p>
      </br>
      <p class="lead">Please review your details below:</p>
      <table border="0">
      <tr><b>Confirmation Number:</b> <%= @utsav_seat.confirmation %></p></tr>
      <% if @utsav_seat.group != "No" %>
      <tr><b>Do you have a group?</b> <%= @utsav_seat.group %></p></tr>
      <tr><b>Group Details:</b> <%= @utsav_seat.grpdetails %></tr>
      <% end %>
      </table>
      <callout class="primary"><p> ** If you need to update any information, contact one of the  Co-ordinators through the contact us page.</p>
      </callout></columns></row>
      <p style="text-align: Left">Regards,</p>
      <p style="text-align: Left"><b>AIS Team</b></p><wrapper class="secondary"><spacer size="16"><row><columns large="6"><h5>Connect With Us:</h5>
        <button class="facebook expand" href="https://www.facebook.com/Association-of-Indian-Students-UL-1031711476885209/?fref=ts">Facebook</button>
      </columns><columns large="6"><h5>Contact Info:</h5>
        <p>Phone: 337-806-0763</p>
        <p>Email: <a href="mailto:ais.ullafayette@gmail.com">ais.ullafayette@gmail.com</a></p>
      </columns></row></spacer></wrapper></spacer></container>
</head></html>