<% provide(:title, 'Utsav Seat Reservation') %>
<h1>Utsav Seat Reservation - Confirmation Search</h1>
</br>
<%= form_tag(utsav_seats_path, :method => "get", id: "search-form") do %><p>
<%= text_field_tag :search, params[:search], placeholder: "Search Confirmation Details", class: "form-control" %></br>
<%= submit_tag "Search",  class: "btn btn-primary" %></p>
<% end %></br>

<%= form_tag(utsav_seats_path, :method => "get", id: "search-form1") do %><p>
<%= text_field_tag :search1, params[:search], placeholder: "Search Names or Group Details", class: "form-control" %></br>
<%= submit_tag "Search",  class: "btn btn-primary" %></p>
<% end %>

<div class="table-responsive">
<%= will_paginate %>
  <table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Is the student current UL Student?</th>
    <th>Does the person have a group?</th>
    <th>Edit Details</th>
    <% if current_user.admin?  %>
      <th>Action</th>
    <% end %>
  </tr>
  <% @utsav_seats.each do |user| %>
    <tr>
      <td><%= link_to user.name, user, {:style=>"color: black"} %></td>
      <td><%= link_to user.email, user, {:style=>"color: black"} %></td>
      <td><%= link_to user.phone, user, {:style=>"color: black"} %></td>
      <td><%= link_to user.member, user, {:style=>"color: black"} %></td>
      <td><%= link_to user.group, user, {:style=>"color: black"} %></td>
      <td style="background:blue"><%= link_to "Edit Details", edit_utsav_seat_path(user) %></td>
      <% if current_user.admin? %>
      <td style="background:black"><%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= will_paginate %>
</div>
