<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">
	
						<h1 id="logo"><%= image_tag("aislogo.jpg") %></h1>
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<% if logged_in? %>
									<% if logged_normuser? %>
									<li><%= link_to "Home",   root_path, { :class=>"icon fa-home", :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Dashboard", current_user, { :class=>"icon fa-calendar", :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Arriving Students", registrations_path, { :class=>"icon fa-users", :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Utsav Seat Reservations", utsav_seats_path, { :class=>"icon fa-users", :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Utsav Participants", utsav_registrations_path, { :class=>"icon fa-users", :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Log out", logout_path, { :class=>"icon fa-exclamation",  :style=>"font-family:'Source Sans Pro'" } %></li>
									<% else %>
									<li><%= link_to "Home",   root_path, { :class=>"icon fa-home", :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Events",   event_path, { :class=>"icon fa-calendar", :style=>"font-family:'Source Sans Pro'" } %></a></li>
									<li><%= link_to "Gallery",   gallery_path, { :class=>"icon fa-picture-o",  :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "New Students",   newstudent_path, {:class=>"icon fa-user",  :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Contact",   contact_path, { :class=>"icon fa-info",  :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Profile", current_user, { :class=>"icon fa-user", :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Log out", logout_path, { :class=>"icon fa-exclamation",  :style=>"font-family:'Source Sans Pro'" } %></li>
									<% end %>
									<% else %>
									<li><%= link_to "Home",   root_path, { :class=>"icon fa-home", :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Events",   event_path, { :class=>"icon fa-calendar", :style=>"font-family:'Source Sans Pro'" } %></a></li>
									<li><%= link_to "Gallery",   gallery_path, { :class=>"icon fa-picture-o",  :style=>"font-family:'Source Sans Pro'" } %></li>
									<!--<li><%#= link_to "New Students",   newstudent_path, {:class=>"icon fa-user",  :style=>"font-family:'Source Sans Pro'" } %></li> -->
									
									<!--<li> <%#= link_to "Student Pickup",   new_registration_path, { :class=>"icon fa-users",  :style=>"font-family:'Source Sans Pro'" } %></li>-->
		
									<li><%= link_to "Utsav Seat Resv",   new_utsav_seat_path, { :class=>"icon fa-users",  :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Utsav Reg",   new_utsav_registration_path, { :class=>"icon fa-users",  :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Contact",   contact_path, { :class=>"icon fa-info",  :style=>"font-family:'Source Sans Pro'" } %></li>
									<li><%= link_to "Login",   login_path, { :class=>"icon fa-key" , :style=>"font-family:'Source Sans Pro'" } %></li>
									<% end %>
								</ul>
							</nav>

					</div>
				</div>